<div fxLayout="column" fxLayoutGap="3">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" fxFlex.lg="100" fxFlex.md="60" fxFlex.xs="50"
        fxFlex.sm="70">
        <mat-toolbar style="height:10vh">
            <div fxFlex="5">
                <button type="button" mat-button (click)="drawer.toggle()">


                    <i class="material-icons">
                        view_headline
                    </i>
                </button>
            </div>
            <div fxFlex="5">
                <img class="gb_ma gb_Cd" alt="" aria-hidden="true"
                    src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                    srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                    style="width:50px;height:50px">
            </div>
            <div fxFlex="10">
                <label>Fundoo</label>
            </div>
            <div fxFlex="50" fxLayoutGap="3">
                <mat-card>
                    <i class="material-icons">search</i>
                </mat-card>
            </div>
            <div fxFlex="6">
                <i class="material-icons">
                    refresh
                </i>
            </div>
            <div fxFlex="6">
                <i class="material-icons">
                    dashboard
                </i>
            </div>
            <div fxFlex="6">
                <i class="material-icons">
                    settings
                </i>
            </div>

            <div fxFlex="6">
                <i class="material-icons">
                    apps
                </i>
            </div>
            <div fxFlex="6">
                <i class="material-icons">
                    account_circle
                </i>
            </div>
        </mat-toolbar>

    </div>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <p>Auto-resizing sidenav</p>


            Toggle extra text

        </mat-drawer>

        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">

            </button>
        </div>

    </mat-drawer-container>
</div>
<div>

</div>