<div style="height:5vh;"></div>
<div *ngIf="mycartData != null" >
  <div>
    <div fxFlex="3"></div>
    <div fxFlex="13" fxFlex.xs="5" class="btn">
      <button mat-button ngStyle.lg="width: 139px;" ngStyle.xs="width: 89px; font-size:8px;"
        ngStyle.sm="width: 79px; font-size:8px;" ngStyle.md="width: 99px;font-size:8px;">FundooNotes</button>
    </div>
    <mat-progress-bar *ngIf="mycartData.isCanceled == true" fxFlex="44" fxFlex.xs="40" ngStyle.xs="margin-left:149px;" mode="determinate" value="100">
    </mat-progress-bar>
    <mat-progress-bar *ngIf="mycartData.isCanceled == false" fxFlex="44" fxFlex.xs="40" ngStyle.xs="margin-left:149px;" mode="determinate" value="80">
    </mat-progress-bar>
  </div>
  <div style="height:5vh;"></div>
  <div>
    <div fxFlex="4"></div>
    <div fxLayout="column" fxFlex="96">
      <h3><strong>Order List</strong></h3>
    </div>
  </div>
  <hr>
  <div>
    <div fxFlex="4"></div>
    <div fxFlex="70">
      <mat-card>
        <div>
          <div fxFlex="12">
            <mat-card class="card1">${{mycartData.price}} Per Month
              {{productData.name}}
            </mat-card>
          </div>
          <div fxFlex="3"></div>
          <div fxFlex="70" fxLayout="row">
            <div fxFlex="40" fxLayout="column" fxLayoutGap="5%">
              <li>Unlimited Wall Space</li>
              <li>${{mycartData.price}}/Month</li>
            </div>
            <div fxFlex="60" fxLayout="column" fxLayoutGap="5%">
              <li>Nice Interface</li>
              <li>{{productData.description}}</li>
            </div>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="6" style="font-size:20px;">${{productData.price}} Per Month</div>
          <div fxFlex="3"></div>
        </div>
        <div style="height:5vh"></div>
        <div fxLayout="column">
          <div fxFlex="row">
            <div fxFlex="90"></div>
            <div fxFlex="10">
              <div>
                <div fxLayout="column" fxLayoutAlign="center">
                  <div *ngIf="mycartData.isCanceled == false" style="color : #1a73e8; font-size: 20px;">
                    <strong>PENDING</strong></div>
                  <div *ngIf="mycartData.isCanceled == true" style="color : #1a73e8; font-size: 20px;">
                    <strong>COMPLETED</strong></div>
                </div>
                <div style="height:2vh;"></div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>