<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
        <div class="card">
          <div class="card-body">
              <h3 class="card-title text-center">
                  <span style="color:#1a73e8">F</span>
                  <span style="color:red">u</span>
                  <span style="color:#fbbc05">n</span>
                  <span style="color:blue">d</span>
                  <span style="color:#34a853">o</span>
                  <span style="color:#fbbc05">o</span>
                  <span style="color:#4285f4">N</span>
                  <span style="color:#34a853">o</span>
                  <span style="color:#ea4335">t</span>
                  <span style="color:blue">e</span>
                  <span style="color:#fbbc05">s</span>
                </h3>
            <h3 class="card-subtitle mb-2 text-center my-3">Sign in</h3>
            <h5 class="card-text text-center my-3">to continue to FundooNotes</h5>
             <div>
              <mat-form-field appearance="outline" class="p1 my-3">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or Phone">
              </mat-form-field>
            </div><br><br>
            <div class="p2">
              <button mat-button routerLink="/forgot"><h6>Forgot Email?</h6></button><br><br><br>
              <button mat-button routerLink="/register"><h6>Create Account</h6></button>
              <button type="button" class="btn btn-primary float-right" routerLink="/password">Next</button><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>