.mat-card{
  padding: 48px 40px 36px;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 36px;
  padding-left: 40px;
  width: 380px;
}
.mat-form-field input{
border-radius: 4px;
color: #202124;
font-size: 16px;
height: 28px;
margin: 1px 1px 1px 1px;
padding: 13px 15px;
z-index: 1;
}
.mat-button{
  width: 30%;
  height: 45px;
  color: #1a73e8;
}
.mat-card-title .red{
  color: red;
}
.mat-card-title .blue{
  color: blue;
}
.mat-card-title .lightblue{
    color: #4285f4;
}
.mat-card-title .yellow{
  color: #fbbc05;
}
.mat-card-title .green{
  color: #34a853;
}
.mat-form-field{
  width: 100%; 
}
.size .mat-button{
font-size: 16px;
}
.mat-form-field{
  -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
    z-index: 0;
}
.card mat-card{
  width: 198px;
  height: 290px;
  border: solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: 14px;
  margin-left: 22px;
  background-color: #a9a9a9;
 // border: 1px solid;
  // margin-top: 50px;
}
.card {
border: solid white;  
}
.card h5{
  // margin-top: -20px;
  // margin-left: 40px;
  color: white;
  font-size: 21px;
}

.card1 mat-card{
  width: 198px;
  height: 284px;
  border: solid rgba(0,0,0,.125);
  margin-top: -330px;
  margin-left: -3px;
}
.card1 h4 {
  font-size: -0.5rem;
}
.mat-card{
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 14px;
}
.card4 h5{
  margin-left: 37px;
  color: white;
  font-size: 15px;
  margin-top: 230px;
  // background-color: orange;
}
.card3 h5{
  margin-left: 37px;
  color: white;
  font-size: 15px;
  margin-top: 230px;
  // background-color: gray;
}
.main1 .card4{
  background-color: orange;
}
.main1 .card3{
  background-color: gray;
}