@import '../../core/scss/colors';
@import '../../core/scss/mixin';

.navbar {
    @include back-ground-color(#fb0);
    width:100%;
    font-size: 25px;
}
.text h4{
    text-align: center;
    color: gray;
    font-size: 1.75rem;
}
.card1 mat-card{
    width: 300px;
    height: 400px;
    border: solid rgba(0,0,0,.125);
    margin-top: -481px;
    margin-left: -56px;
    
}
.card mat-card{
    width: 300px;
    height: 426px;
    border: solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 147px;
    background-color: #a9a9a9;
   // border: 1px solid;
    // margin-top: 50px;
}
.card {
  border: solid white;  
}
.mat-button{
    width: 40%;
    height: 45px;
    background-color: white;
    color: #1a73e8;
    outline: none;
  }
.card1 h4{
    padding: 12px;
}
li{
    font-size: 21px;
    margin-left: 5px;
    padding: 10px;
}
.card h5{
    margin-top: 355px;
    color: white;
    font-size: 21px;
}
.main1:hover >.card mat-card {
    background-color: orange;
}
.main1 .card1:hover{
    opacity: 1;
    transform: 'scale(1.5)' 
}

.card2 mat-card{
    width: 300px;
    height: 400px;
    border: solid rgba(0,0,0,.125);
    margin-top: -475px;
    margin-left: -67px;
    
}
.card3 mat-card{
    width: 300px;
    height: 426px;
    border: solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 147px;
    background-color: #a9a9a9;
   // border: 1px solid;
    // margin-top: 50px;
}
.main2:hover > .card3 mat-card {
    background-color: orange;
}
.main2 .card1:hover{
    opacity: 1;
    transform: 'scale(1.5)' 
}
.card3 h5{
    margin-top: 355px;
    color: white;
    font-size: 21px;
}
