.clear{
    font-size: 20px;
    opacity:0.7;
    cursor: pointer;
}
.done{
    font-size: 20px;
    opacity:0.7;
    cursor: pointer;
}
.textarea{
    outline: none;
    border:none;
    width:100%;
}