<!-- 
  Execution       :   1. default node         cmd> label.component.html
 
   Purpose         : To create and delete label
  
   @file           : label.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div fxLayout="column">
    <div class=edit_label>
        <h5 style="height:7vh">Edit Label</h5>
    </div>
    <!-- 
       @description: label create start
    -->
    <div fxLayout="row" fxLayoutGap="5">
        <div fxFlex="10">
            <mat-icon  *ngIf="!changeText1" class=clear (click)=clear()>clear</mat-icon>
            <mat-icon  *ngIf="changeText1">add</mat-icon>
        </div>
        <div fxFlex="80">
            <input placeholder="Create new label" class="textarea" [(ngModel)]="labels.label" maxlength=40>
            <hr>
        </div>
        <div fxFlex="10">
            <mat-icon class="done" (click)=done()>done</mat-icon>
        </div>
    </div>
    <div *ngFor="let label of labels | pipe | filter : searchItem" style="height:6vh">
        <div fxLayout=row>
            <div fxFlex="100" fxLayoutAlign="start start" (mouseover)="changeText=true" (mouseout)="changeText=false">
                <div fxFlex="20">
                    <mat-icon *ngIf="!changeText">label</mat-icon>
                    <mat-icon *ngIf="changeText" (click)="deleteLabel(label.id)">delete</mat-icon>
                </div>
                <div fxFlex="80" fxLayout="row" *ngIf="labelId != label.id"
                    (click)="editIcon(label.id,label.label)">
                    <div fxFlex="80" maxlength="80">{{label.label}}</div>
                    <div fxFlex="20">
                        <mat-icon class="doneIcon" (click)="editIcon(label.id,label.label)" maxlength=80>edit
                        </mat-icon>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="80" *ngIf="labelId == label.id">
                    <div fxFlex="80"><input class="textarea" [(ngModel)]="model.newName"></div>
                    <div fxFlex="20">
                        <mat-icon class="doneIcon" (click)=editLabel(label.id)>done</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="end end">
        <abbr title="Save Label">
            <button mat-button class="add" (click)="add()">Done</button>
        </abbr>
    </div>
</div>