<div class=edit_label>
  <h5 style="height:7vh">Edit Label</h5>
</div>
<!-- 
  @description: label create start
-->
<div fxLayout="row" fxLayoutGap="5">
  <div fxFlex="10">
    <mat-icon class=clear (click)=clear()>clear</mat-icon>
  </div>
  <div fxFlex="80">
    <input placeholder="Create new label" class="textarea" [(ngModel)]="label.labelName" maxlength=40>
  </div>
  <div fxFlex="10">
    <mat-icon class="done" (click)=done()>done</mat-icon>
  </div>
</div>
<div>
  <a *ngFor="let data of label1 | pipe" class=buttonicon>
    <div fxLayout=row class="label">
      <div fxFlex="10%"></div>
      <div fxFlex="20%">
        <mat-icon class="label">label</mat-icon>
      </div>
      <div fxFlex="60%" class=label>{{data.label}}</div>
    </div>
  </a>
</div>
<hr>
<div fxLayoutAlign="end">
  <button mat-button class="done1" (click)=addLabel()><b>Done</b></button>
</div>