<div fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="80">
    <div *ngFor="let data of notes" fxFlex.xl="1600px" fxFlex.lg="1200px" fxFlex.md="800px" fxFlex.sm="600px"
      fxFlex.xs="95%">
      <div>
        <div style="height : 5vh;"></div>
        <div fxLayout="row" class="title">
          <div fxFlex="90">
            <div innerHTML="{{data.title}}"></div>
          </div>
          <button mat-button fxFlex="10" (click)=close()>Close</button>
        </div>
        <div fxLayout="row" class="description">
          <div fxFlex="85" innerHTML="{{data.description}}"></div>
        </div>
      </div>
      <hr>
      <mat-divider></mat-divider>
      <div style="height : 2vh;"></div>
      <div>
        <h4 *ngIf="data.questionAndAnswerNotes.length > 0" style="margin-left:30px;"><strong>Question Asked</strong>
        </h4>
        <div fxLayout="row" class="description">
          <div *ngFor="let item of data.questionAndAnswerNotes">
            <div *ngIf="!item.parentId">
              <!-- {{ item.message}} -->
              <div class="description" innerHTML="{{item.message}}"></div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-left:30px;" *ngIf="data.questionAndAnswerNotes[0]">
        <div>
          <mat-card-header>
            <div fxLayout="row">
              <div mat-card-avatar>
                <div fxFlex="7" class=nameIcon>
                  {{data.user.firstName[0].toUpperCase()}}{{ data.user.lastName[0].toUpperCase()}}
                </div>
              </div>
              <div fxFlex="93">
                <mat-card-title class="title1">{{data.user.firstName}} {{data.user.lastName}}</mat-card-title>
              </div>
            </div>
          </mat-card-header>
        </div>
        <div>
          <div fxLayout="row">
            <div fxFlex="5"></div>
            <div fxFlex="95" class="title2" *ngFor="let item of data.questionAndAnswerNotes">
              <div *ngIf="!item.parentId" fxFlex="100">
                <small fxLayout="row">
                  <div fxFlex="45" class="msg" innerHTML="{{item.message}}">
                  </div>
                  <!-- 
                    @Description :  Printing stars here
                   -->
                  <div fxFlex="25">
                    <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                    </a>
                  </div>
                  <div fxFlex="3"></div>
                  <h5 fxFlex="17">Rating:-{{ratings}}</h5>
                  <img width="38" height="40" (click)="setLikes()" src='https://ui-ex.com/images/heart-svg-4.png' />
                  <!-- </a> -->
                </small>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height:5vh;"></div>
      <div style="margin-left:20px;" *ngIf="data.questionAndAnswerNotes.length >= 2">
        <div style="margin-left:60px;" *ngFor="let data of data.questionAndAnswerNotes">
          <div *ngIf="data.parentId && data.isApproved == true && data.isCanceled == false">
            <mat-card-header>
              <!-- <div fxLayout="row"> -->
              <div fxLayout="row" fxFlex="100">
                <div mat-card-avatar>
                  <div fxFlex="5" class=nameIcon>
                  </div>
                </div>
                <div fxFlex="95">
                  <mat-card-title class="title1">UserName</mat-card-title>
                </div>
                <!-- </div> -->
              </div>
            </mat-card-header>
          </div>

          <div fxLayout="row" style="margin-left : 50px;">
            <div class="title2">
              <div *ngIf="data.parentId && data.isApproved == true && data.isCanceled == false">
                <small fxLayout="row">
                  <div class="msg" innerHTML="{{data.message}}">
                  </div>
                  <!-- 
                      @Description :  Printing stars here
                  -->
                  <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                    <i class="fa" [ngClass]="{'fa-star-o':!item,'fa-star':item}"></i>
                  </a>
                  <img width="38" height="40" (click)="setLikes()" src='https://ui-ex.com/images/heart-svg-4.png' />
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="data.questionAndAnswerNotes.length > 0">
          <div style="height : 5vh;"> </div>
          <div fxLayoutAlign="end" style="margin-right: 63px;">
            <button mat-button *ngIf="showfroalaeditor2" (click)=postReplyEditor()>View-Replies</button>
          </div>
          <div style="height : 10vh;"> </div>
          <div>
            <div class="textarea" style="margin-left: 60px; margin-right: 30px;" *ngIf="!showfroalaeditor2">
              <textarea [froalaEditor] [(froalaModel)]="replyMsg.message" [formControl]="message"></textarea>
            </div>
            <div style="height : 5vh;"></div>
            <div fxLayoutAlign="end" style="margin-right: 63px;">
              <!-- <div *ngIf="data.isApproved == true"> -->
              <button mat-button *ngIf="!showfroalaeditor2" (click)=postReply()>
                Submit-Answer</button>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="!data.questionAndAnswerNotes[0]">
          <div style="margin-left: 30px;" *ngIf="showfroalaeditor" (click)="openEditor()">
            <h4>Ask a Question</h4>
          </div>
          <div style="height:5vh;"></div>
          <div class="textarea" style="margin-left: 30px;">
            <div *ngIf="!showfroalaeditor">
              <h5>Make sure what you are asking is unique,concise phrased like a question.</h5>
            </div>
            <textarea *ngIf="!showfroalaeditor" [froalaEditor] [(froalaModel)]="addMsg.message"
              [formControl]="message"></textarea>
          </div>
          <div style="height:5vh;"></div>

          <div fxLayoutAlign="end">
            <button mat-button *ngIf="!showfroalaeditor" (click)="addMessage()">Submit-Question</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <a *ngFor="let item of starList; let i=index " (click)="setStar1(i)">  
  <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
 </a>  -->