<div fxLayoutAlign="center">
  <div *ngFor="let data of notes" fxFlex.xl="1600px" fxFlex.lg="1200px" fxFlex.md="800px" fxFlex.sm="600px"
    fxFlex.xs="95%">
    <div style="height : 5vh;"></div>
    <div fxLayout="row" class="title">
      <div fxFlex="90">{{data.title}}</div>
      <button mat-button fxFlex="10" (click)=close()>Close</button>
    </div>
    <div fxLayout="row" class="description">
      {{data.description}}
    </div>
    <hr>
    <div fxLayout="column" *ngIf="data.questionAndAnswerNotes[0]">
      <mat-card-header>
        <div fxLayout="row" fxFlex="100">
          <div fxFlex="5">
            <div mat-card-avatar>
              <div class=nameIcon>{{data.user.firstName[0].toUpperCase()}}{{ data.user.lastName[0].toUpperCase()}}</div>
            </div>
          </div>
          <div fxFlex="95">
            <mat-card-title>{{data.user.firstName}} {{data.user.lastName}}</mat-card-title>
          </div>
        </div>
      </mat-card-header>
      <div fxLayout="row" fxFlex="100">
      <div fxFlex="7"></div>
      <div style=" margin-top: -18px;" fxFlex="93" *ngFor="let item of data.questionAndAnswerNotes">
        <div *ngIf="!item.parentId">
        <h4>{{item.message}} <a *ngFor="let item of starList; let i=index " (click)="setStar(i)" (click)="addRating(item.id)">  
          <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
         </a></h4>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="100">
        <div fxFlex="7"></div>
        <div style="margin-left : 15px; margin-top: -18px;" fxFlex="93" *ngFor="let item of data.questionAndAnswerNotes">
          <div *ngIf="item.parentId">
          <h4>{{item.message}} <a *ngFor="let item of starList; let i=index " (click)="setStar(i)" (click)="addRating(item.id)">  
            <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
           </a></h4>
          </div>
        </div>
      </div>
  </div>
  
  <div *ngIf="data.questionAndAnswerNotes.length > 0">
      <div style="height : 5vh;"> </div>
      <button mat-button *ngIf="showfroalaeditor2" (click)=postReplyEditor()>View-Replies</button>
   <div style="height : 10vh;"> </div>
    <div class="textarea" style="margin-left: 30px;" *ngIf="!showfroalaeditor2">
      <textarea [froalaEditor] [(froalaModel)]="replyMsg.message" [formControl]="message"></textarea>
    </div>
    <div fxLayoutAlign="end" *ngFor="let item of data.questionAndAnswerNotes">
      <button mat-button *ngIf="!showfroalaeditor2"
        (click)=postReply(item.id)>Submit-Answer</button>
    </div>
      
  </div>

   <div *ngIf="!data.questionAndAnswerNotes[0]">
      <div style="margin-left: 30px;" *ngIf="showfroalaeditor" (click)="openEditor()">
        <h4>Ask a Question</h4>
      </div>
      <div style="height:5vh;"></div>
      <div class="textarea" style="margin-left: 30px;">
        <div *ngIf="!showfroalaeditor">
          <h5>Make sure what you are asking is unique,concise phrased like a question.</h5>
        </div>
        <textarea *ngIf="!showfroalaeditor" [froalaEditor] [(froalaModel)]="addMsg.message"
          [formControl]="message"></textarea>
      </div>
      <div style="height:5vh;"></div>

      <div fxLayoutAlign="end">
        <button mat-button *ngIf="!showfroalaeditor"
          (click)="addMessage()">Submit-Question</button>
      </div>
    </div>
  </div>
</div>