<div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center" fxLayoutGap="3%">
    <div class="cardSub" fxLayoutAlign="center center" *ngFor="let data of notes">
        <mat-card [ngStyle]="{'background-color':data.color}">
            <div class="title">{{data.title}}</div>
            <div class="description"> {{data.description }}</div>
            <mat-chip-list>
                <div *ngFor="let cardData of data.reminder" class="reminder">
                    <mat-chip>
                        <button type="button" mat-button>
                            <i class="material-icons">
                                access_time
                            </i>
                        </button>
                        {{cardData | date : 'MMM d, y h:mm a'}}
                        <button type="button" mat-button (click)=removeReminder(data,$event)>
                            <i class="material-icons">
                                cancel
                            </i>
                        </button>
                    </mat-chip>
                </div>
            </mat-chip-list>
            <div class="icon">
                <app-icon class="iconButton"></app-icon>
            </div>
        </mat-card>
    </div>
</div>