<div fxLayout="column" fxFlex="100">
  <mat-toolbar class="navbar" fxLayout="row">
    <div fxLayout="row" fxFlex="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100">
      <div fxFlex="20" ngstyle.xl="font-size: 25px;" ngstyle.lg="font-size: 25px;" ngstyle.sm="font-size: 15px;"
        ngstyle.xs="font-size: 15px;" ngstyle.md="font-size: 20px;">FundooNotes</div>
      <div fxFlex="50" fxFlex.xs="40"></div>
      <div fxFlex="30" fxFlex.xs="40" fxLayoutAlign="end" fxLayoutGap="3%" fxLayoutGap.xs="2%">
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" routerLink="/addcart" mat-icon-button>
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" mat-icon-button>
            <i class="material-icons">shopping_cart</i>
          </button>
        </div>
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" mat-icon-button>
            <i class="material-icons">brightness_high</i>
          </button>
        </div>
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" mat-icon-button>
            <i class="material-icons">apps</i>
          </button>
        </div>
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" mat-icon-button>
            <i class="material-icons">add_alert</i>
          </button>
        </div>
        <div fxFlex="20">
          <button style="margin-top:-11px; outline: none" mat-icon-button>
            <i class="material-icons">settings</i>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div style="height:5vh;"></div>
  <div fxLayout="column" class="text" fxFlex="10">
    <h4 ngStyle.xs="font-size:15px;" ngStyle.sm="font-size:20px;">Your Cart is Empty</h4>
  </div>
  </div>