@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.addimage1{
    -webkit-background-size: 96px 96px;
    background-size: 96px 96px;
    border: none;
    vertical-align: top;
    height: 96px;
    width: 96px;
    @include back-ground-color($test-color-aqua);
}