<div fxLayout="column">
<div fxLayoutAlign="center" *ngIf="notecard">
  <mat-card class="card" (click)="noteCardOpen()" fxFlex.xl="700px" fxFlex.lg="600px" fxFlex.md="500px"
    fxFlex.sm="500px" fxFlex.xs="95%">
    <div fxFlex="100">
      <div fxFlex="70">
        <span>Take a note...</span>
      </div>
      <div fxLayoutAlign="end" fxFlex="30" fxLayoutGap="5">
        <div fxFlex="30">
          <i class="material-icons">
            assignment_turned_in
          </i>
        </div>
        <div fxFlex="30">
          <i class="material-icons">
            brush
          </i>
        </div>
        <div fxFlex="30">
          <i class="material-icons">
            crop_original
          </i>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div fxLayoutAlign="center center" *ngIf="!notecard">
  <mat-card class="card" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
    <div>
      <div>
        <input style="height:5vh; border-style: hidden" [formControl]="title" placeholder="Title" >
        <i class="material-icons">
          add_alert
        </i>
      </div>
      <div>
        <input style="border-style: hidden;" [formControl]="description" placeholder="Take a note..." >
        <div contenteditable="true" role="textbox" spellcheck="true"></div>
        <div class="row"  fxLayoutAlign="space-evenly center">
          <app-icon></app-icon> 
          <button mat-button (click)="addNote()">Close</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<app-allnote></app-allnote>

</div>