@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.card{
    @include margin-top(10px);
    border-radius:7px;
}
.icon{
    float: right;
    font-size: 30px;
    padding-left: 5%;
    cursor: pointer;
    opacity:0.7;
}
.icon1{
    float: left;
    font-size: 30px;
    padding-left: 5%;
    cursor: pointer;
    opacity:0.7;
}
.material-icons{
    font-size: 30px;
}
.mainCard{
    width: 1000px;
    margin-left: 240px;
}
.menu:hover{
    @include back-ground-color(rgb(219, 219, 219))  
}
.input{
    outline: none;
    border: none;
}
.pin{
float: right;
}
.textarea{
    width:90%;
    outline: none;
    // margin:2%;
}
.textarea:empty:before{
    content: attr(data-text);
    opacity: 0.5;
    font-size: 14px;
    width:60%;
    height:10%;
    @include margin-top(2px);
}
.pinedArray{
    // width: 32vw;
    display: grid;
    grid-template-rows: 100px 300px;
}