<div fxLayoutAlign="center" *ngIf="noteCard">
    <mat-card class="card" (click)="noteCardOpen()" fxFlex.xl="700px" fxFlex.lg="600px" fxFlex.md="500px"
      fxFlex.sm="500px" fxFlex.xs="95%">
      <div fxFlex="100">
        <div fxFlex="70">
          <span>Take a note...</span>
        </div>
        <div fxLayoutAlign="end" fxFlex="30" fxLayoutGap="5">
          <div fxFlex="30">
            <i class="material-icons">
              assignment_turned_in
            </i>
          </div>
          <div fxFlex="30">
            <i class="material-icons">
              brush
            </i>
          </div>
          <div fxFlex="30">
            <i class="material-icons">
              crop_original
            </i>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  
  
  <div fxLayoutAlign="center" *ngIf="!noteCard">
    <mat-card class="card" fxFlex.xl="600px" fxFlex.lg="600px" fxFlex.md="500px" fxFlex.sm="500px" fxFlex.xs="95%">
      
      <div fxFlex="30" fxLayout="row">
        <!-- <div> -->
          <mat-form-field>
            <textarea matInput placeholder="Title...." #title></textarea>
          </mat-form-field>
          <div fxLayoutAlign="end">
          <i class="material-icons">
              get_app
              </i>
            </div>
        <!-- </div> -->
         <!-- <div>
  
        </div> --> 
      </div>
      <div fxFlex="30" fxLayout="row">
          <!-- <div fxFlex="25"> -->
            <mat-form-field>
              <textarea matInput *ngIf=!listNote placeholder="Take a Note..." #description></textarea>
            </mat-form-field>
          <!-- </div> -->
          <!-- <div>
    
          </div> -->
        </div>
        
        <div fxLayoutAlign="start" fxFlex="30" fxLayoutGap="5">
        <div fxFlex="5" fxLayoutGap="20px">
            <i class="material-icons">
                add_alert
                </i>
                
                
        </div>
        <div fxFlex="5" fxLayoutGap="5">
          <i class="material-icons">
            person_add
          </i>
        </div>
        <div fxFlex="5" fxLayoutGap="5">
          <i class="material-icons">
            color_lens
          </i>
        </div>
        <div fxFlex="5" fxLayoutGap="5">
            <i class="material-icons">
                crop_original
              </i>
        </div>
        <div fxFlex="5" fxLayoutGap="5">
            <i class="material-icons">
                archive
                </i>
                
                
        </div>
        <div fxFlex="5" fxLayoutGap="5">
            <i class="material-icons">
                more_vert
                </i>
        </div>
        <div>
          <button mat-button  (click)="close()">close</button>
        </div>
      </div>

      <div *ngIf=listNote>
        <div *ngFor="let data of listArray" fxLayout=row class=listInput>
          <div fxFlex=5%><mat-checkbox (click)=checked(data)></mat-checkbox></div>
          <input fxFlex=85% type=text name=input [(ngModel)]=data.itemName class=input>
          <div fxFlex=5%><mat-icon class=clear (click)=removeList(data)>clear</mat-icon></div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout=row class=listInput>
          <div fxFlex=5%><mat-icon class=clear>add</mat-icon></div>
          <input fxFlex=85% placeholder="List item" #item=ngModel class=input [(ngModel)]="model.item"
          (keydown.enter)="listitem()">
          <div fxFlex=5%><mat-icon class=clear (click)=clear()>clear</mat-icon></div>
        </div>
        <mat-divider></mat-divider>
      </div>

      
 </mat-card>
  </div>