<mat-toolbar class="navbar" fxLayout="row">
  <div fxLayout="row" fxFlex="100" fxFlex.lg="100" fxFlex.md="90" fxFlex.xs="100" fxFlex.sm="100">
    <div fxFlex="20" fxFlex.md="15" fxFlex.xs="10" fxFlex.sm="10" ngstyle.sm="font-size:8px;">FundooNotes</div>
    <div fxFlex="50"></div>
    <div fxFlex="30" fxFlex.md="15" fxFlex.xs="10" fxFlex.sm="10" fxLayoutAlign="end" fxLayoutGap="5%">
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">refresh</i>
      </button>
      <button fxFlex.md="15" fxFlex.xs="10" fxFlex.sm="10" style="margin-top:-11px; outline: none" mat-icon-button>
          <i class="material-icons">shopping_cart</i>
        </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">brightness_high</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">apps</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">add_alert</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">settings</i>
      </button>
    </div>
  </div>
</mat-toolbar>
<div style="height:5vh;"></div>
<div>
  <div fxFlex="3"></div>
  <div fxFlex="13" class="btn">
    <button mat-button>FundooNotes</button>
  </div>
   <mat-progress-bar mode="determinate" value="30">SIGNIN</mat-progress-bar>
</div>
<div style="height:5vh;"></div>
<div>
  <div fxFlex="4"></div>
  <div fxFlex="13">
    <h3><strong>Shopping Cart</strong></h3>
  </div>
</div>
<hr>
<!-- <div *ngFor="let data of productData"> -->
<div>
  <div fxFlex="4"></div>
  <div fxFlex="10">
    <mat-card class="card1">${{productData.price}} Per Month
      {{productData.name}}
    </mat-card>
  </div>
  <div fxFlex="3"></div>
  <div fxFlex="40" fxLayout="row">
    <div fxFlex="40" fxLayout="column" fxLayoutGap="5%">
      <li>Unlimited Wall Space</li>
      <li>${{productData.price}}/Month</li>
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutGap="5%">
      <li>Nice Interface</li>
      <li>{{productData.description}}</li>
    </div>
  </div>
  <div fxFlex="3"></div>
  <div fxFlex="6" style="font-size:20px;">${{productData.price}}</div>
  <div fxFlex="6"><button mat-button style="font-size:20px;">Per Month</button>
  </div>
  <div fxFlex="5"></div>
  <div>
    <mat-card class="card2">
      <div fxLayout="row" fxLayoutAlign="center">
        <div style="color : black; font-size: 15px;">Subtotal (1 Item) : </div>
        <div style="color : red; font-size: 15px;"> ${{productData.price}}</div>
      </div>
      <div style="height:2vh;"></div>
      <div fxLayoutAlign="center"><button class="btn1" (click)="toCheckOut()" mat-button>Proceed To Checkout</button>
      </div>
    </mat-card>
  </div>
</div>
<!-- </div> -->
<hr>
<div>
  <div fxFlex="62"></div>
  <div fxFlex="14">
    <div fxLayout="row" fxLayoutAlign="center">
      <div style="color : black; font-size: 20px;">Subtotal (1 Item) : </div>
      <div style="color : red; font-size: 20px;"> ${{productData.price}}</div>
    </div>
    <div style="height:2vh;"></div>
  </div>
</div>