<mat-toolbar class="navbar" fxLayout="row">
  <div fxLayout="row" fxFlex="100" fxFlex.lg="100" fxFlex.md="90" fxFlex.xs="50" fxFlex.sm="70">
    <div fxFlex="20">FundooNotes</div>
    <div fxFlex="50"></div>
    <div fxFlex="30" fxLayoutAlign="end" fxLayoutGap="5%">
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">refresh</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">brightness_high</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">apps</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">add_alert</i>
      </button>
      <button style="margin-top:-11px; outline: none" mat-icon-button>
        <i class="material-icons">settings</i>
      </button>
    </div>
  </div>
</mat-toolbar>
<div style="height:5vh;"></div>
<div>
  <div fxFlex="5"></div>
  <div fxFlex="13" class="btn">
    <button mat-button>FundooNotes</button>
  </div>
  <div fxFlex="50">
    <mat-tab-group>
      <mat-tab label="SIGN IN"> SIGN IN </mat-tab>
      <mat-tab label="PLACE ORDER"> PLACE ORDER </mat-tab>
      <mat-tab label="COMPLETE PAYMENT"> COMPLETE PAYMENT </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div style="height:5vh;"></div>
<div>
  <div fxFlex="7"></div>
  <div fxFlex="13">
    <h3><strong>Shopping Cart</strong></h3>
  </div>
</div>
<hr>
<div>
  <div fxFlex="7"></div>
  <div fxFlex="10">
  <mat-card class="card1">$6.99 Per Month
    Advance
  </mat-card>
  </div>
  <div fxFlex="5"></div>
  <div fxFlex="30">
      <div fxLayout="row" fxLayoutGap="5%"><li>ASDFG</li><li>asfsdfd</li></div>
      <div fxLayout="row" fxLayoutGap="5%"><li>ASDFG</li><li>asfsdfd</li></div>
    </div>
    <div fxFlex="10">$6.99</div>
    <div fxFlex="10"><button mat-button>Per Month</button>
    </div>
    <div>
      <mat-card class="card2">
          <div fxLayoutAlign="center"><button class="btn1" mat-button >Proceed To Checkout</button></div>
      </mat-card>
    </div>
</div>