@import '../../core/scss/colors';
@import '../../core/scss/mixin';

.navbar {
    @include back-ground-color(#fb0);
    width:100%;
    font-size: 25px;
}
.material-icons{
    font-size: 30px;
    height: 25px;
    // margin-top: -12px;
}
.btn .mat-button {
    @include back-ground-color(#fb0);
    border-radius: 20px;
    overflow: hidden;
    outline: 0;
    width: 139px;
    height: 52px;
    color: white;
    font-size: 20px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}
hr{
    margin-left: 68px;
    color: black;
    margin-right: 418px; 
}
mat-progress-bar {
    display: block;
    height: 4px;
    overflow: hidden;
    position: relative;
    transition: opacity 250ms linear;
    margin-top: 44px;
    width: 43%;
}
.card1{
    padding: 15px;
    background-color: gray;
    border-radius: 4px;
    font-size: 23px;
    color: white;
}
.card2{
    width: 283px;
    padding: 15px;
    background-color: #dcd4d4;
    border-radius: 4px;
    font-size: 23px;
    color: white;
}
.btn1{
    // width: 30%;
    // float: right;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color : #1a73e8;
  }
  .card2 mat-button{
      background-color: gray;
  }
li{
    font-size: 20px;
}
// mat-tab{
//     width: 50px;
// }
.mattab mat-tab {
    height: 48px;
    width: 329px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}
