<div class="cart">
  <mat-toolbar class="navbar">
    <div fxLayoutAlign="start">{{dataService.name}} Pack Details</div>
    <div fxLayoutAlign="end">${{dataService.price}}/Month</div>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="feature1"> </mat-tab>
    <mat-tab label="feature2"> </mat-tab>
    <mat-tab label="feature3"> </mat-tab>
  </mat-tab-group>
  <div style="height : 12vh;"></div>
  <div>
    <button class="btn" mat-button (click)=Remove()>Remove</button>
    <button class="btn1" mat-button (click)=proceedto()>Proceed To Checkout</button>
  </div>
</div>