<div fxLayout="column" fxLayoutGap="8%">
    <div fxFlex.lg="30%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
    <div fxLayout="row" fxFlex.lg="70%" fxLayoutAlign="center" fxFlex="35">
      <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
      <div fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
        <mat-card>
          <mat-card-title fxLayoutAlign="center">
            <span class="lightblue">F</span>
            <span class="red">u</span>
            <span class="yellow">n</span>
            <span class="lightblue">d</span>
            <span class="green">o</span>
            <span class="blue">o</span>
            <span class="yellow">N</span>
            <span class="red">o</span>
            <span class="lightblue">t</span>
            <span class="green">e</span>
            <span class="red">s</span>
          </mat-card-title><br>
          <mat-card-title fxLayoutAlign="center my-3"><h3>Welcome</h3></mat-card-title>
          <mat-card-title fxLayoutAlign="center my-3">to continue to FundooNotes Account</mat-card-title>
          <br>
          <div>
            <mat-form-field appearance="outline" hintLabel="Minimum 8 Characters">
                <mat-label>Enter Your Password</mat-label>
              <input matInput placeholder="Email or Phone">
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end" class="eye">
            <input matInput name="password"  [type]="!hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </div><br><br><br><br>
          <div class="size"><button mat-button routerLink="/reset">Forgot Password?</button></div><br><br>
          <div fxLayoutAlign="end" class="p2"><button mat-button routerLink="/">Next</button></div>
          <br><br><br>
        </mat-card>
      </div>
      <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  </div>