<div class="Collaborators">Collaborators</div>
<mat-divider></mat-divider>
<div fxLayoutGap='35px'>
  <div class="margin">
    <mat-card-header>
      <div mat-card-avatar>
        <div class=nameIcon>{{firstName[0].toUpperCase()}}{{ lastName[0].toUpperCase()}}</div>
      </div>
      <mat-card-title>{{firstName}} {{lastName}} (Owner)</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let item of collaborators" fxAlign="row" fxFlexLayout="space-between center">
      <mat-card-header>
        <div mat-card-avatar>
          <div class=nameIcon>{{item.firstName[0].toUpperCase()}}{{ item.lastName[0].toUpperCase() }}</div>
        </div>
        <mat-card-title>{{item.firstName}} {{item.lastName}}</mat-card-title>
        <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
        <!-- <div fxLayoutAlign="end end" class="clear"> -->
          <button type="button" class="clear" mat-button (click)=removeCol(item)>
            <i class="material-icons">
              clear
            </i>
          </button>
        <!-- </div> -->
      </mat-card-header>
    </div>

    <mat-card-header>
      <div mat-card-avatar>
      </div>
      <input placeholder="person or email to share with" [(ngModel)]="searchValue" (keyup)="searchUser()" matInput
        [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <mat-option *ngFor="let data of userList" [value]='data.email'>
          <button mat-button class=button (click)="addCol(id)">
            {{data.firstName}} {{data.lastName}} [{{data.email}}]
          </button>
        </mat-option>
      </mat-menu>
      <div class="done">
        <button class="iconcorner" type="button" mat-button (click)="addCol(id)">
          <i class="material-icons">
            done
          </i>
        </button>
      </div>
    </mat-card-header>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap='25px' class="btns">
  <button mat-button (click)=cancel()>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>