.Collaborators{
    font-size: 25px;
}
.margin{
    margin-top: 15px;
}
button{
    outline: none;
    border-radius: 200px;
}
.btns{
    height: 70px;
    margin-top: 10px;
   background-color: rgb(233, 233, 233)
}
.btns button{
    margin-bottom: 15px;
    // margin-left: 15px;
    font-size: 20px;
    height: 35px;
}
.addPerson{
    border: 1px solid black;
    border-radius:  50%;
    opacity: 0.4;
}
.icon{
    padding: 6px;
}
input{
    width: 575px;
    outline: none;
    border-style: hidden; 
}
.done{
float: right;
//margin-right: 10px;
}
.clear{
    float: right;
    // margin-right: 10px;
}
