$test-color-yellow: rgb(240, 176, 0);
$test-color-red: rgb(209, 3, 3);
$test-color-green: rgb(3, 136, 3);
$test-color-blue: rgb(6, 6, 248);
$test-color-gray: rgb(128, 128, 128);
$test-color-salmon: rgb(250, 128, 114);
$test-color-orange: rgb(253, 130, 59);
$test-color-yellow_color: rgb(255, 255, 100);
$test-color-teal: rgb(91, 180, 180);
$test-color-aqua: rgb(0, 255, 255);
$test-color-purple: rgb(155, 44, 155);
$test-color-pink: rgb(255, 192, 203);
$test-color-green_color: rgb(102, 255, 102);
$test-color-light-gray:rgb(220,220,220);