<!-- 
  Execution       :   1. default node         cmd> navbar.component.html
 
   Purpose         : To display navigation and side navigation bar
  
   @file           : navbar.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 28-04-2019
  -->
<!-- 
    @Description: Dashboard tool bar
 -->
<mat-toolbar class="navbar" style="height:10vh" fxLayoutAlign="space-evenly center">
    <div fxLayout="row" fxFlex="100" fxFlex.lg="100" fxFlex.md="60" fxFlex.xs="50" fxFlex.sm="70">
        <div fxFlex="25" fxFlex.md="60" fxFlex.xs="80" fxFlex.sm="90">
            <div fxFlex="30" fxFlex.md="20" fxFlex.xs="20" fxFlex.sm="20">
                <!-- 
                     @Description: Dashboard first icon menu bar
                 -->
                <button class="menubutton" type="button" style="margin-top:10px; margin-left: 0px; outline: none;" mat-button (click)="drawer.toggle()">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
            </div>
            <!-- 
                 @Description: Dashboard second icon image
             -->
            <div fxFlex="30">
                <img class="gb_ma gb_Cd" alt="" aria-hidden="true" fxShow fxHide.sm fxShow fxHide.xs
                    src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                    srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                    style="width:50px;height:50px; margin-top:8px;">
            </div>
            <!-- 
                 @Description: Dashboard Fundoo Label
             -->
            <div fxFlex="40" style="margin-top:15px;" ngStyle.md="font-size:10px" ngStyle.lg="font-size:25px"
                ngStyle.sm="font-style:15px;" ngStyle.xl="font-size:25px">
                <b>{{labelName}}</b>
            </div>
        </div>
        <!-- 
            @Description: Dashboard Search Box
        -->
        <div fxFlex="50" fxFlex.xs=40 fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80" fxShow fxHide.sm
            fxShow fxHide.xs style="margin-top : 9px;" fxLayoutGap=15px>
            <mat-icon style="outline: none;" class="searchbutton">search</mat-icon>
            <input type="text" class="search" [(ngModel)]="searchValue" class="search" (click)="search()"
                (keyup)=newMessage() placeholder="Search..">
        </div>
        <!-- 
            @Description: Dashboard view-list, settings and logout account icons  
        -->
        <div fxFlex="5"></div>
        <div fxFlex="20" fxFlex.md="60" fxFlex.xs="80" fxFlex.sm="90">
            <div fxFlex="35">
                <button style="margin-top:10px; outline: none" mat-icon-button (click)="refresh()">
                    <i class="material-icons">refresh</i>
                </button>
            </div>
            <div fxFlex="35">
                <abbr title="Grid">
                    <button mat-icon-button style="margin-top:10px; outline: none;" class="materialicons" *ngIf=list
                        (click)=View() matTooltip="grid view" fxShow="true">
                        <i class="material-icons">
                            view_stream</i>
                    </button>
                    <!-- </abbr>
                <abbr title="Grid"> -->
                    <button mat-icon-button style="margin-top:10px; outline: none;" class="materialicons" *ngIf=grid
                        (click)=View() matTooltip="list view" fxShow="true">
                        <i class="material-icons">view_module</i>
                    </button>
                </abbr>
            </div>
            <div fxFlex="30">
                <div  mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'60px','height':'60px'}" 
                class="addimage1" (click)="account()" ngStyle.xl="width:60px;height:60px"></div>
            </div>
        </div>
    </div>
</mat-toolbar>
<!-- 
  @Description  : Logout Card
-->
<mat-card class="account" *ngIf="signoutCard">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover',
        'width':'60px','height':'60px','margin-bottom':'10px'}" class="addimage1" (click)=image.click()></div>
        <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
        <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <input type=file class="fileSelect" (change)=profileImage($event) #image>
    <hr>
    <div><button class="addAccount" (click)="addAccount()">Add Account</button></div>
    <div><button class="signout" (click)="logout()">Sign out</button></div>
</mat-card>
<!-- 
@Description    :  Dashboard side nav bar
-->
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" [mode]="width > 0 ?'side':'side'" closed>
        <div class="sidebutton">
            <div fxLayout="column" fxLayoutGap="5px" style="height:15vh; margin-top:20px;">
                <button type="button" class="btn" mat-button routerLink="/addnote" (click)="addNote()">
                    <div class="sideicon" fxLayout="row" fxLayoutGap="20px">
                        <img src="../../../assets/images/notes.svg">
                        <h5 class="name">Notes</h5>
                    </div>
                </button>
                <button type="button" class="btn" mat-button routerLink="/reminder" (click)="reminder()">
                    <div class="sideicon" fxLayout="row" fxLayoutGap="20px">
                        <img src="../../../assets/images/reminder.svg">
                        <h5 class="name">Reminder</h5>
                    </div>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="column">
                <div fxFlex=5></div>
                <div fxFlex=40>
                    <div class="edit">LABELS</div>
                </div>
                <a *ngFor="let data of labelList" class=buttonicon>
                    <div fxLayout=row >
                        <!-- <div fxFlex="10"></div> -->
                        <div fxFlex="10" class="label-icon">
                            <img src="../../../assets/images/label1.svg">
                        </div>
                        <div fxFlex="60" class="side_label">{{data}}</div>
                    </div>
                </a>
                <button type="button" (click)="createLabel()" class="btn" mat-button>
                    <div class="sideicon" fxLayout="row" fxLayoutGap="20px">
                        <img src="../../../assets/images/editlabel.svg">
                        <h5>Edit Note</h5>
                    </div>
                </button>
            </div>
            <hr>
            <div fxLayout="column" fxLayoutGap="5px" style="height:15vh">
                <button type="button" class="btn" mat-button routerLink="/archive" (click)="archive()">
                    <div class="sideicon" fxLayout="row" fxLayoutGap="20px">
                        <img src="../../../assets/images/archive.svg">
                        <h5 class="name">Archive</h5>
                    </div>
                </button>
                <button type="button" class="btn" mat-button routerLink="/trash" (click)="trash()">
                    <div class="sideicon" fxLayout="row" fxLayoutGap="20px">
                        <img src="../../../assets/images/trash.svg">
                        <h5 class="name">Trash</h5>
                    </div>
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-drawer>
    <div style="height:7vh"></div>
    <router-outlet></router-outlet>
</mat-drawer-container>