<!-- 
  Execution       :   1. default node         cmd> navbar.component.html
 
   Purpose         : To display navigation and side navigation bar
  
   @file           : navbar.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 28-04-2019
  -->
<!-- 
    @Description: Dashboard tool bar
 -->
<mat-toolbar class="navbar" style="height:10vh" fxLayoutAlign="space-evenly center">
    <div fxLayout="row" fxFlex="100" fxFlex.lg="100" fxFlex.md="60" fxFlex.xs="50" fxFlex.sm="70">
        <div fxFlex="25" fxFlex.md="60" fxFlex.xs="80" fxFlex.sm="90">
            <div fxFlex="30" fxFlex.md="20" fxFlex.xs="20" fxFlex.sm="20">
                <!-- 
                     @Description: Dashboard first icon menu bar
                 -->
                <button type="button" style="margin-top:10px;" mat-button (click)="drawer.toggle()">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
            </div>
            <!-- 
                 @Description: Dashboard second icon image
             -->
            <div fxFlex="30">
                <img class="gb_ma gb_Cd" alt="" aria-hidden="true" fxShow fxHide.sm fxShow fxHide.xs
                    src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                    srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                    style="width:50px;height:50px; margin-top:8px;">
            </div>
            <!-- 
                 @Description: Dashboard Fundoo Label
             -->
            <div fxFlex="40" style="margin-top:15px;" ngStyle.md="font-size:10px" ngStyle.lg="font-size:30px"
                ngStyle.sm="font-style:15px;" ngStyle.xl="font-size:30px">
                <b>Fundoo</b>
            </div>
        </div>
        <!-- 
            @Description: Dashboard Search Box
        -->
        <div fxFlex="50" fxFlex.xs=40 fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80" fxShow fxHide.sm
            fxShow fxHide.xs style="margin-top : 7px;">
            <mat-icon class="searchbutton">search</mat-icon>
            <input type="text" class="search" [(ngModel)]="searchValue" class="search" (click)="search()"
                (keyup)=newMessage() placeholder="Search..">
        </div>
        <!-- 
            @Description: Dashboard view-list, settings and logout account icons  
        -->
        <div fxFlex="25" fxFlex.md="60" fxFlex.xs="80" fxFlex.sm="90">
            <div fxFlex="35">
                <button style="margin-top:10px;" mat-icon-button (click)="refresh()">
                    <i class="material-icons">refresh</i>
                </button>
            </div>
            <div fxFlex="35">
                <div *ngIf=gridView>
                <button mat-icon-button style="margin-top:10px;" class="materialicons" (click)=view() matTooltip="grid view">
                    <i class="material-icons">
                        view_stream</i>
                </button>
            </div>
            <div *ngIf=!gridView>
                <button mat-icon-button style="margin-top:10px;" class="materialicons" (click)=view() matTooltip="list view">
                    <i class="material-icons">view_module</i>
                </button>
            </div>
            </div>
            <div fxFlex="30">
                <button mat-icon-button class="addimage" (click)="account()">
                    <div mat-card-avatar></div>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
<!-- 
  @Description  : Logout Card
-->
<mat-card class="account" *ngIf="signoutCard">
    <mat-card-header>
        <div mat-card-avatar class="addimage1" (click)="changeProfile()">
            <!-- <span class="change">Change</span> -->
        </div>
        <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
        <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <div><button class="addAccount" (click)="addAccount()">Add Account</button></div>
    <div><button class="signout" (click)="logout()">Sign out</button></div>
</mat-card>
<!-- 
@Description    :  Dashboard side nav bar
-->
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="sidebutton">
            <div fxLayout="column" fxLayoutGap="5px" style="height:15vh; margin-top:20px;">
                <button type="button" class="btn" mat-button routerLink="/addnote" (click)="searchValue==null">                  
                     <div class="notes" fxLayout="row" fxLayoutGap="20px">
                        <mat-icon>notes</mat-icon>
                        <h5 class="name">Notes</h5>
                    </div>
                </button>
                <button type="button" class="btn" mat-button>
                    <div class="reminder" fxLayout="row" fxLayoutGap="20px">
                        <mat-icon class=label>notifications</mat-icon>
                        <h5 class="name">Reminder</h5>
                    </div>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="column" class="edit" >
                <div fxFlex=5></div>
                <div fxFlex=40 class="edit" style="margin-top:20px; margin-left: 18px;">
                    <h5>LABELS</h5>
                </div>
                <a *ngFor="let data of labelList" class=buttonicon>
                    <div fxLayout=row class="side_label">
                        <!-- <div fxFlex="10"></div> -->
                        <div fxFlex="10">
                            <mat-icon class=label>label</mat-icon>
                        </div>
                        <div fxFlex="60" class=label>{{data}}</div>
                    </div>
                </a>
                <button type="button" (click)="createLabel()" class="btn" mat-button>
                    <div class="edit" fxLayout="row" fxLayoutGap="20px">
                        <mat-icon class=label>create</mat-icon>
                        <h5>Edit Note</h5>
                    </div>
                </button>
            </div>
            <hr>
            <div fxLayout="column" fxLayoutGap="5px" style="height:15vh">
                <button type="button" class="btn" mat-button>
                    <div class="archive" fxLayout="row" fxLayoutGap="20px">
                        <mat-icon class=label>archive</mat-icon>
                        <h5 class="name">Archive</h5>
                    </div>
                </button>
                <button type="button" class="btn" mat-button>
                    <div class="delete" fxLayout="row" fxLayoutGap="20px">
                        <mat-icon class=label>delete</mat-icon>
                        <h5 class="name">Trash</h5>
                    </div>
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-drawer>
    <div style="height:7vh"></div>
    <router-outlet></router-outlet>
</mat-drawer-container>