.example-container{
    // width: 400px;  
    height: 750px;
    overflow: hidden;
}
.example-sidenav{
    width: 400px;  
}
.material-icons{
    font-size: 30px;
}
.materialicons .material-icons{
    font-size: 50px;
}
.btn{
    border-radius: 0 25px 25px 0;
    color: #202124;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 70px;
}