@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.navbar {
    background-color: white;
    width:100%;
}
.example-container{
    // width: 400px;  
    height: 750px;
    overflow: hidden;
}
.example-sidenav{
    width: 400px;  
}
.material-icons{
    font-size: 30px;
}
.materialicons .material-icons{
    font-size: 50px;
}
.btn{
    border-radius: 0 25px 25px 0;
    color: #202124;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 70px;
}
.search {
    padding:3% 4% 2% 9%;
    width:100%;
    color:black;
    @include back-ground-color($test-color-light-gray);
    font-size: 25px;
    border: none;
    margin:-1% -3% 0% -3%;
    border-radius: 7px;
} 
.searchbutton {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    opacity:0.7;
    margin-top: 10px;
}