<div fxLayoutAlign="center">
    <div class="main" fxLayoutAlign=left fxFlex.xl="70%" fxFlex.lg="750px" fxFlex.md="750px" fxFlex.sm="500px"
        fxFlex.xs="100%">


        <!-- ****************************matcard start****************************** -->

        
        <mat-card *ngFor="let data of notes" class="div" [ngClass.xl]="view ? 'list' : 'grid'"
            [ngClass.lg]="view ? 'list' : 'grid'" [ngClass.md]="view ? 'list' : 'grid'"
            [ngClass.sm]="view ? 'list' : 'grid2'" [ngClass.xs]="view ? 'list' : 'list'"
            [ngStyle]="{'background-color':data.color}">
            <div (click)="openDialog(data)">
                <div class=title [innerHTML]="data.title"></div>
                <div class=description [innerHTML]="data.description"></div>
            </div>
        </mat-card>
    </div>
</div>