@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.icon{
    visibility:hidden;
    @include margin-top(15px);
}
.icon{
    float: right;
    font-size: 30px;
    padding-left: 5%;
    cursor: pointer;
    opacity:0.7;
}
.material-icons{
    font-size: 30px;
}