<!-- 
  Execution       :   1. default node         cmd> allnote.component.html
 
   Purpose         : To print all the note data
  
   @file           : allnote.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<!-- 
    @Description    :   Dispalying pinned data into the card after add
 -->
 <div>
<div *ngIf="pinedArray.length > 0" class="pinOthers">PINNED</div>
<div style="height : 5vh;"></div>
<div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center">
    <!-- 
         @Description    :   ngClass for grid and list view
    -->

    <div  *ngFor="let data of pinedArray | filter : searchItem" 
        [ngClass]=" direction =='row' ? 'cardSub':'cardSub2'">
        <!-- <div  > -->
            <mat-card *ngIf="data.isArchived === false && data.isDeleted === false" [ngStyle]="{'background-color':data.color}" style="border-radius:20px;">
                <!--
                    @Description    :    openDialog for dialog 
                 -->
                <div (click)="openDialog(data)">
                    <div class="title">
                        <div fxFlex="90">
                            <div innerHTML="{{data.title}}"></div>
                        </div>
                        <div fxFlex="10">
                            <app-pin class=pin [card]='data' (onChange)=addpin(data,$event)></app-pin>
                        </div>
                    </div>
                    <div class="description">
                        <div fxFlex="90" innerHTML="{{data.description }}"></div>
                    </div>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.reminder">
                            <mat-chip class="label">
                                <mat-icon>access_time</mat-icon>
                                {{cardData | date : 'MMM d, y h:mm a'}}
                                <mat-icon (click)=removeReminder(data,$event) class="cancelIcon"> cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.noteLabels">
                            <mat-chip class="label" *ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
                                <span class="chip">{{cardData.label}}</span>
                                <mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id)
                                    class="cancelIcon">cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                </div>
                <div style="height : 2vh;"></div>
                <div class="icon">
                    <!-- <div fxLayout="row" class="iconButton" fxLayoutAlign="space-evenly center" fxLayoutGap="3"> -->
                    <div fxLayout="row" class="iconButton" fxLayoutAlign="space-between center" fxLayoutGap="3">
                        <app-icon [card]='data' [noteData]="data" (setColor)=entry($event)
                            (onChangeaddlabeltonotes)=entry($event) (onArchiveEntry)="archiveNote(data,$event)"
                            (onChangeDate)=addReminder(data,$event) (onChangeColor)=changeColor(data,$event)
                            (onChangeDelete)=deleteNote(data,$event)>
                        </app-icon>
                    </div>
                </div>
                <div *ngIf="data.questionAndAnswerNotes.length > 0">
                    <div style="height:2vh;"></div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div style="height:2vh;"></div>
                    <h4>Question Asked</h4>
                </div>
                <div *ngFor="let item of data.questionAndAnswerNotes">
                    <div *ngIf="!item.parentId" fxFlex="93">
                        <div innerHTML="{{item.message}}"></div>
                    </div>
                </div>

            </mat-card>
            <div style="height:3vh;"></div>
        <!-- </div> -->
    </div>
</div>
<!-- end of pinned data array -->
<div style="height : 10vh;"></div>
<!-- 
    @Description    :   Dispalying unpinned data into the card after add
 -->

<div *ngIf="unpinedArray.length > 0">OTHERS</div>
<div style="height : 5vh;"></div>
<div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center">
    <!-- 
    @Description    :   Dispalying others data into the card after add
    -->
    <div *ngFor="let data of unpinedArray | filter : searchItem"
         [ngClass]=" direction =='row' ? 'cardSub':'cardSub2'">
        <!-- <div > -->
            <mat-card *ngIf="data.isArchived === false && data.isDeleted === false " [ngStyle]="{'background-color':data.color}" style="border-radius:20px;">
                <!--
                 @Description    :    openDialog for dialog 
                 -->
                <div (click)="openDialog(data)">
                    <div class="title">
                        <div fxFlex="90">
                            <div innerHTML="{{data.title}}"></div>
                        </div>
                        <div fxFlex="10">
                            <app-pin class=pin [card]='data' (onChange)=addpin(data,$event)></app-pin>
                        </div>
                    </div>
                    <div class="description">
                        <div fxFlex="90" innerHTML="{{data.description }}"></div>
                    </div>
                    <div style="height : 2vh;"></div>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.reminder">
                            <mat-chip class="label">
                                <mat-icon>access_time</mat-icon>
                                {{cardData | date : 'MMM d, y h:mm a'}}
                                <mat-icon (click)=removeReminder(data,$event) class="cancelIcon"> cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <div style="height : 2vh;"></div>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.noteLabels">
                            <mat-chip class="label" *ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
                                <span class="chip">{{cardData.label}}</span>
                                <mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id)
                                    class="cancelIcon">cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <div style="height : 2vh;"></div>
                </div>
                <div class="icon" style="height:5vh;">
                    <div fxLayout="row" class="iconButton" fxLayoutAlign="space-around center" fxLayoutGap="3%">
                        <app-icon [noteData]="data" [card]='data' (setColor)=entry($event)
                            (onChangeaddlabeltonotes)=entry($event) (onArchiveEntry)="archiveNote(data,$event)"
                            (onChangeDate)=addReminder(data,$event) (onChangeColor)=changeColor(data,$event)
                            (onChangeDelete)=deleteNote(data,$event)>
                        </app-icon>
                    </div>
                </div>
                <div *ngIf="data.questionAndAnswerNotes.length > 0">
                    <div style="height:2vh;"></div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div style="height:2vh;"></div>
                    <h4>Question Asked</h4>
                </div>
                <div *ngFor="let item of data.questionAndAnswerNotes">
                    <div *ngIf="!item.parentId" fxFlex="93">
                        <div innerHTML="{{item.message}}"></div>
                    </div>
                </div>
            </mat-card>
            <div style="height:3vh;"></div>
        <!-- </div> -->
    </div>
</div>
<div style="height : 10vh;"></div>
<!-- end of others data array -->
</div>