<!-- 
  Execution       :   1. default node         cmd> allnote.component.html
 
   Purpose         : To print all the note data
  
   @file           : allnote.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div fxLayoutAlign="center">
    <div fxLayout="column" fxFlex.xl='500px' fxFlex.lg='500px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'
        fxLayoutGap="50px">
        <!-- 
            @Description    :   Displaying the cards
         -->
        <div *ngFor="let data of notes | pipe | filterpipe : searchItem">
            <mat-card [ngStyle]="{'background-color':data.color}">
                <div>
                    <div>
                        {{data.title}}
                        <button class="icon" type="button" mat-button>
                            <i class="material-icons" fxLayoutAlign="end">
                                person_pin_circle
                            </i>
                        </button>
                    </div>
                    <div>{{data.description}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="4" fxLayoutAlign="space-evenly center">
                    <app-icon [card]='data' (setColor)=entry($event)></app-icon>
                    <!-- 
                        @description: More Button
                    -->
                    <abbr title="More">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <i class="material-icons">
                                more_vert
                            </i>
                        </button>
                    </abbr>
                    <!-- 
                        @description: MatMenu button for more Button
                    -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Delete Note</span>
                        </button>
                        <button mat-menu-item>
                            <span>Add label</span>
                        </button>
                        <button mat-menu-item>
                            <span>Add drawing</span>
                        </button>
                        <button mat-menu-item>
                            <span>Make a Copy</span>
                        </button>
                        <button mat-menu-item>
                            <span>Show checkboxes</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-card>
        </div>
    </div>
</div>