<!-- 
  Execution       :   1. default node         cmd> allnote.component.html
 
   Purpose         : To print all the note data
  
   @file           : allnote.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<!-- 
    @Description    :   Dispaly data into the card after add
 -->
<div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center" fxLayoutGap="5">
    <!-- 
         @Description    :   ngClass for grid and list view
    -->
    <div class="cardSub" fxFlex.md="200px" fxFlex.sm="100px" fxFlex.lg="380px" fxFlex.xl="400px"
        fxLayoutAlign="center center" *ngFor="let data of notes | pipe | filterpipe : searchItem"
        [ngClass]=" direction =='row' ? 'cardSub':'cardSub2' ">
        <div *ngIf="data.isArchived==false && data.isDeleted==false">
            <mat-card [ngStyle]="{'background-color':data.color}">
                <!--
                 @Description    :    openDialog for dialog 
                 -->
                <div (click)="openDialog(data)">
                    <div>
                        <div >{{data.title}}</div>
                        <button class="iconcorner" type="button" mat-button>
                            <i class="material-icons">
                                add_alert
                            </i>
                        </button>
                    </div>
                    <div class="description"> {{data.description }}</div>
                    <mat-chip-list>
                        <div *ngFor="let cardData of data.reminder">
                            <mat-chip>
                                <button class="icon" type="button" mat-button>
                                    <i class="material-icons">
                                        access_time
                                    </i>
                                </button>
                                {{cardData}}
                                <button class="icon" type="button" mat-button>
                                    <i class="material-icons">
                                        cancel
                                    </i>
                                </button>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                </div>
                <div class="icon">
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="2">
                        <app-icon class="iconButton" [card]='data' (setColor)=entry($event) (reminder)=entry($event)
                            (onArchiveEntry)="archiveNote(data,$event)" (onChangeDate)=addReminder(data,$event)
                            (onChangeColor)=changeColor(data,$event) (onChangeDelete)=deleteNote(data,$event)>
                        </app-icon>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>