@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.cardMain{
    margin-left: 65px;
    margin-right: 45px;
}
.cardSub{
    border-radius: 5;
    width: 385px;
    padding: 6px;
}
// mat-chip-list{
//     width: 20px;
//     height: 50px;
// }
.cardSub2{
    border-radius: 5;
    width: 385px;
    padding: 6px;
}
mat-card{
    border-radius: 10px;
}
.material-icons{
    font-size: 20px;
}
.icon{
    visibility:hidden;
}
.iconButton{
    opacity:0.7;
    cursor: pointer;
}
.iconButton:hover{
    opacity:1;
} 
.cardSub:hover .icon {
    visibility: visible;
}
.title{
    word-break: break-all;
    font-weight: bold;
}
.description{
    word-break: break-all;
}
.iconcorner{
    float: right;
    font-size: 30px;
    padding-left: 5%;
    cursor: pointer;
    opacity:0.7;
}
