<div fxLayoutGap="15px">
  <!-- 
  @description: Reminder Button
 -->
  <abbr title="Remind Me">
    <button mat-icon-button>
      <i class="material-icons">
        add_alert
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Collaborator Button
 -->
  <abbr title="Collaborator">
    <button mat-icon-button>
      <i class="material-icons">
        person_add
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Color Button
 -->
  <abbr title="Change color">
    <button mat-icon-button [matMenuTriggerFor]=menuColor>
      <i class="material-icons">
        palette
      </i>
    </button>
  </abbr>
  <!-- 
  @description: matmenu for color start
 -->
  <mat-menu #menuColor="matMenu">
    <div>
      <abbr title="white"><span class=border></span></abbr>
      <abbr title="salmon"><span class=salmon></span></abbr>
      <abbr title="orange"><span class=orange></span></abbr>
      <abbr title="yellow"><span class=yellow_color></span></abbr>
    </div>
    <div>
      <abbr title="green"><span class=green_color></span></abbr>
      <abbr title="teal"><span class=teal></span></abbr>
      <abbr title="blue"><span class=blue></span></abbr>
      <abbr title="aqua"><span class=aqua></span></abbr>
    </div>
    <div>
      <abbr title="purple"><span class=purple></span></abbr>
      <abbr title="pink"><span class=pink></span></abbr>
      <abbr title="red"><span class=red></span></abbr>
      <abbr title="gray"><span class=gray></span></abbr>
    </div>
  </mat-menu>
  <!-- 
  @description: Add Image Button
 -->
  <abbr title="Add Image">
    <button mat-icon-button>
      <i class="material-icons">
        crop_original
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Archieve Button
 -->
  <abbr title="Archive">
    <button mat-icon-button>
      <i class="material-icons">
        archive
      </i>
    </button>
  </abbr>
  <!-- 
  @description: More Button
 -->
  <abbr title="More">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <i class="material-icons">
        more_vert
      </i>
    </button>
  </abbr>
  <!-- 
  @description: MatMenu button for more Button
 -->
 <mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Delete Note</span>
  </button>
  <button mat-menu-item>
    <span>Add label</span>
  </button>
  <button mat-menu-item>
    <span>Add drawing</span>
  </button>
  <button mat-menu-item>
    <span>Make a Copy</span>
  </button>
  <button mat-menu-item>
    <span>Show checkboxes</span>
  </button>
</mat-menu>
 