@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.material-icons{
    font-size: 30px;
}
div{
    margin: 2px;
    padding: 7px;
}
span{
    padding: 6px 15px;
    border: none;
    border-radius: 50%;
    margin: 3px;
}
.blue{
    @include back-ground-color($test-color-blue)  
}
.red{
    @include back-ground-color($test-color-red)  
}
.green_color{
    @include back-ground-color($test-color-green_color)  
}
.pink{
    @include back-ground-color($test-color-pink)  
}
.aqua{
    @include back-ground-color($test-color-aqua)  
}
.purple{
    @include back-ground-color($test-color-purple)  
}
.orange{
    @include back-ground-color($test-color-orange)  
}
.gray{
    @include back-ground-color($test-color-gray)  
}
.yellow_color{
    @include back-ground-color($test-color-yellow_color)  
}
.teal{
    @include back-ground-color($test-color-teal)  
}
.salmon{
    @include back-ground-color($test-color-salmon)
}
.border{
    border:1px solid gray;
}
