@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.material-icons{
    font-size: 25px;
}
.remindeicon .material-icons{
    font-size: 20px;
}
div{
    margin: 2px;
    padding: 7px;
}
span{
    padding: 6px 15px;
    border: none;
    border-radius: 50%;
    margin: 3px;
}
.blue{
    @include back-ground-color($test-color-blue)  
}
.red{
    @include back-ground-color($test-color-red)  
}
.green_color{
    @include back-ground-color($test-color-green_color)  
}
.pink{
    @include back-ground-color($test-color-pink)  
}
.aqua{
    @include back-ground-color($test-color-aqua)  
}
.purple{
    @include back-ground-color($test-color-purple)  
}
.orange{
    @include back-ground-color($test-color-orange)  
}
.gray{
    @include back-ground-color($test-color-gray)  
}
.yellow_color{
    @include back-ground-color($test-color-yellow_color)  
}
.teal{
    @include back-ground-color($test-color-teal)  
}
.salmon{
    @include back-ground-color($test-color-salmon)
}
.border{
    border:1px solid gray;
}
.menu{
    cursor: pointer;
    color: black;
    font-size: 15px;
    overflow: hidden;
}
.menu1{
    font-size: 15px;
}
.button{
    width:200px;
}
.reminder{
    width: 260px;
    z-index: 5003;
    background-color: #fff;
}
.menu:focus { 
    background-color:white;
}
.menu:hover{
    background-color: white;
}
.mat-form-field .input{
    width:100%;
    height: 20;
}
.btn button{
   margin-right: 10px;
}
.save{
    // padding:3%;
    border:1px solid rgb(192, 190, 190);
    background-color: transparent;
    float:right;
    border-radius: 5px;
    // @include margin-top(5px)
}
.menu:hover{
    @include back-ground-color(rgb(219, 219, 219))  
}
