<!-- 
  Execution       :   1. default node         cmd> icon.component.html
 
   Purpose         : To print all the ions
  
   @file           : icon.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div fxLayoutGap="2px">
<!-- 
  @description: Reminder Button
 -->
<abbr title="Remind Me">
  <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menuRemindme">
    <i class="material-icons">
      add_alert
    </i>
  </button>
</abbr>
<!-- 
  @description: Collaborator Button
 -->
<abbr title="Collaborator">
  <button style="outline: none;" mat-icon-button (click)="addCollaborator(card)">
    <i class="material-icons">
      person_add
    </i>
  </button>
</abbr>
<!-- 
  @description: Color Button
 -->
<abbr title="Change color">
  <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menuColor">
    <i class="material-icons">
      palette
    </i>
  </button>
</abbr>
<!-- 
  @description: matmenu for color start
 -->
<mat-menu #menuColor="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <div>
      <div fxLayout="row" fxLayoutGap="3px" style="margin-top: 2px" *ngFor="let colors of colorsArray">
        <div *ngFor="let color of colors">
          <button [ngStyle]="{ 'background-color': color.hexcode }" (click)="setColor(color.hexcode)"
            matTooltip="{{ color.name }}" mat-mini-fab></button>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>
<!-- 
  @description: More Button
  -->
<abbr title="More">
  <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
    <i class="material-icons">
      more_vert
    </i>
  </button>
</abbr>
<!-- 
  @description: MatMenu button for more Button
  -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)=deleteNotes(note)>
    <span>Delete Note</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="labelmenu" (click)="showLabel()">
    <span>Add label</span>
  </button>
  <button mat-menu-item routerLink="/askquestion/{{card?.id}}"  routerLinkActive=active>
    <span>Ask Question</span>
  </button>
  <button mat-menu-item (click)="showCheckBox()">
    <span>Show checkboxes</span>
  </button>
</mat-menu>
<!-- 
  @description: add Label menu starts
-->
<mat-menu #labelmenu="matMenu" >
  <ng-template matMenuContent>
    <div style="margin-left: 20px; margin-right:20px;">Label note</div>
    <div fxLayout="row" style="margin-left: 20px; margin-right:20px;" fxFlex="100">
      <div fxFlex=80>
        <input type=text class=input placeholder="Enter label name" [(ngModel)]="searchLabel" (click)=$event.stopPropagation() (keyup)=newMessage()>
      </div>
      <div fxFlex=20>
        <mat-icon><small>search</small></mat-icon>
      </div>
    </div>
    <div *ngFor="let data of labelList | filter : searchLabel">
      <div fxLayout=row>
        <!-- <div fxFlex="10"></div> -->
        <div fxFlex="20" style="margin-left: 20px; margin-right:20px;" class="label-icon">
          <input *ngIf="data.isChecked==true" type="checkbox" (click)=removeLabel(data) (click)=$event.stopPropagation()
            checked>
          <input *ngIf="data.isChecked==false" type="checkbox" (click)=addLabel(data) (click)=$event.stopPropagation()
            unchecked>
        </div>
        <div fxFlex="80" class="side_label">{{data.label}}</div>
      </div>
    </div>
  </ng-template>
</mat-menu>
<!-- 
  @description: Add Image Button
 -->
<abbr title="Add Image">
  <button style="outline: none;" mat-icon-button>
    <i class="material-icons">
      crop_original
    </i>
  </button>
</abbr>
<!-- 
  @description: Archieve Button
 -->
<abbr title="Archive">
  <button style="outline: none;" mat-icon-button (click)=archive(note)>
    <i class="material-icons">
      archive
    </i>
  </button>
</abbr>
<!-- </div> -->
<!-- 
  @description: Remind Me start
 -->
<mat-menu #menuRemindme="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <div class="reminder">
      <div>Reminder:</div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=today()>
        <div fxFlex="60">Later today</div>
        <div fxFlex="40" fxLayoutAlign="end">8:00 PM</div>
      </div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=tomorrow()>
        <div fxFlex="60">Tomorrow</div>
        <div fxFlex="40" fxLayoutAlign="end">8:00 AM</div>
      </div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=nextweek()>
        <div fxFlex="50">Next week</div>
        <div fxFlex="50" fxLayoutAlign="end">Mon, 8:00 AM</div>
      </div>
      <div mat-menu-item class="menu" [matMenuTriggerFor]=pickdatetime>
        <button mat-icon-button class="remindeicon">
          <i class="material-icons">
            access_time
          </i>
        </button>
        Pick date & time
      </div>
    </div>
  </ng-template>
</mat-menu>
<!-- 
  @description: Pick Date And Time
 -->
<mat-menu #pickdatetime="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <div class="reminder">
      <div>
        <button mat-icon-button>
          <i class="material-icons">
            keyboard_backspace
          </i>
        </button>
        Pick date & time
      </div>
      <hr>
      <div mat-menu-item class="menu" fxLayout="row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div mat-menu-item class="menu" fxLayout="row">
        <mat-form-field>
          <mat-label>8:30 PM</mat-label>
          <div mat-menu-item [matMenuTriggerFor]="menuTime">
            <mat-select>
              <input matInput> 
            </mat-select>
          </div>
        </mat-form-field>
      </div>
      <div><button class="save">Save</button></div>
    </div>
  </ng-template>
</mat-menu>
<mat-menu #menuTime="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <button class="button" mat-button>
      <div fxLayout="row">
        <div fxFlex=60%>Morning</div>
        <div fxFlex="40%">8:00 AM</div>
      </div>
    </button>
    <button class="button" mat-button>
      <div fxLayout="row">
        <div fxFlex=60%>Afternoon</div>
        <div fxFlex="40%">1:00 PM</div>
      </div>
    </button>
    <button class="button" mat-button>
      <div fxLayout="row">
        <div fxFlex=60%>Evening</div>
        <div fxFlex="40%">6:00 PM</div>
      </div>
    </button>
    <button class="button" mat-button>
      <div fxLayout="row">
        <div fxFlex=60%>Night</div>
        <div fxFlex="40%">8:00 PM</div>
      </div>
    </button>
    <button mat-button class="button">Custom</button>
  </ng-template>
</mat-menu>
</div>