<div fxLayoutGap="15px">
  <!-- 
  @description: Reminder Button
 -->
  <abbr title="Remind Me">
    <button mat-icon-button>
      <i class="material-icons">
        add_alert
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Collaborator Button
 -->
  <abbr title="Collaborator">
    <button mat-icon-button>
      <i class="material-icons">
        person_add
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Color Button
 -->
  <abbr title="Change color">
    <button mat-icon-button [matMenuTriggerFor]=menuColor>
      <i class="material-icons">
        palette
      </i>
    </button>
  </abbr>
  <!-- 
  @description: matmenu for color start
 -->
 <mat-menu #menuColor="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <div>
      <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 3px" *ngFor="let colors of arrayOfColors">
        <div *ngFor="let color of colors">
          <button [ngStyle]="{ 'background-color': color.hexcode }" (click)="setColor(color.hexcode)"
            matTooltip="{{ color.name }}" mat-mini-fab></button>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>
  <!-- 
  @description: Add Image Button
 -->
  <abbr title="Add Image">
    <button mat-icon-button>
      <i class="material-icons">
        crop_original
      </i>
    </button>
  </abbr>
  <!-- 
  @description: Archieve Button
 -->
  <abbr title="Archive">
    <button mat-icon-button>
      <i class="material-icons">
        archive
      </i>
    </button>
  </abbr>
</div>



  
 
  