<div fxLayoutAlign="center center">
<div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center">
    <!-- 
       @Description    :   ngClass for grid and list view
  -->
    <div class="cardSub" fxFlex="27" fxLayoutAlign="center center" *ngFor="let data of notes">
        <mat-card [ngStyle]="{'background-color':data.color}">
            <div *ngIf="data.isDeleted === true">
                <div class="title">{{data.title}}</div>
                <div class="description"> {{data.description }}</div>
                <mat-chip-list style="padding-top:10px;">
                    <div *ngFor="let cardData of data.reminder">
                        <mat-chip (click)=showReminder(data.id)>
                            <button class="icon" type="button" mat-button>
                                <i class="material-icons">
                                    access_time
                                </i>
                            </button>
                            {{cardData}}
                            <button class="icon" type="button" mat-button>
                                <i class="material-icons">
                                    cancel
                                </i>
                            </button>
                        </mat-chip>
                    </div>
                </mat-chip-list>

                <div class="icon">
                    <!-- 
                        @description: More Button
                    -->
                    <abbr title="More">
                        <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                            <i class="material-icons">
                                more_vert
                            </i>
                        </button>
                    </abbr>
                    <!-- 
                        @description: MatMenu button for more Button
                    -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)=deleteforeverNotes(data)>
                            <span>Delete Forever</span>
                        </button>
                        <button mat-menu-item (click)=Restore(data)>
                            <span>Restore</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-card>
    </div>
</div>
</div>