<div fxLayoutAlign="center center">
    <div class="cardMain" fxLayout="{{direction}} wrap">
        <!-- 
         @Description    :   ngClass for grid and list view
        -->
        <div *ngFor="let data of notes | pipe | filter : searchItem"
            [ngClass]=" direction =='row' ? 'cardSub':'cardSub2'">
            <!-- <div  > -->
            <mat-card *ngIf="data.isDeleted === true" [ngStyle]="{'background-color':data.color}"
                style="border-radius:20px;">
                <!--
                    @Description    :    openDialog for dialog 
                 -->
                <div >
                    <div class="title" (click)="openDialog(data)"> 
                        <div fxFlex="100">
                            <div innerHTML="{{data.title}}"></div>
                        </div>
                    </div>
                    <div class="description" (click)="openDialog(data)">
                        <div fxFlex="100" innerHTML="{{data.description }}"></div>
                    </div>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.reminder">
                            <mat-chip class="label">
                                <mat-icon>access_time</mat-icon>
                                {{cardData | date : 'MMM d, y h:mm a'}}
                                <mat-icon (click)=removeReminder(data,$event) class="cancelIcon"> cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.noteLabels">
                            <mat-chip class="label" *ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
                                <span class="chip">{{cardData.label}}</span>
                                <mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id)
                                    class="cancelIcon">cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <div class="icon">
                        <!-- 
                        @description: More Button
                        -->
                        <abbr title="More">
                            <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                                <i class="material-icons">
                                    more_vert
                                </i>
                            </button>
                        </abbr>
                    </div>
                    <!-- 
                        @description: MatMenu button for more Button
                    -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)=deleteforeverNotes(data)>
                            <span>Delete Forever</span>
                        </button>
                        <button mat-menu-item (click)=Restore(data)>
                            <span>Restore</span>
                        </button>
                    </mat-menu>
                </div>
                <div style="height : 2vh;"></div>
            </mat-card>
            <div style="height:3vh;"></div>
            <!-- </div> -->
        </div>
    </div>
</div>