<div fxLayoutAlign="center center">
    <div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center">
        <div class="cardSub" fxFlex="27" fxLayoutAlign="center center"
            *ngFor="let data of notes | pipe | filter : searchItem ">
            <div *ngIf="data.isDeleted === true">
                <mat-card [ngStyle]="{'background-color':data.color}">
                    <div class="title">{{data.title}}</div>
                    <div class="description"> {{data.description }}</div>
                    <mat-chip-list>
                        <div *ngFor="let cardData of data.reminder" class="reminder">
                            <mat-chip class="datetime">
                                <mat-icon>access_time</mat-icon>
                                {{cardData | date : 'MMM d, y h:mm a'}}
                                <mat-icon (click)=removeReminder(data,$event)> cancel</mat-icon>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                    <mat-chip-list>
                        <span *ngFor="let cardData of data.noteLabels">
                            <mat-chip class="label" *ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
                                <span class="chip">{{cardData.label}}</span>
                                <mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id)
                                    class="cancelIcon">cancel</mat-icon>
                            </mat-chip>
                        </span>
                    </mat-chip-list>
                    <div class="icon">
                        <!-- 
                            @description: More Button
                        -->
                        <abbr title="More">
                            <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                                <i class="material-icons">
                                    more_vert
                                </i>
                            </button>
                        </abbr>
                    </div>
                    <!-- 
                            @description: MatMenu button for more Button
                    -->
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)=deleteforeverNotes(data)>
                            <span>Delete Forever</span>
                        </button>
                        <button mat-menu-item (click)=Restore(data)>
                            <span>Restore</span>
                        </button>
                    </mat-menu>
                </mat-card>
                <div style="height:5vh;"></div>
            </div>
        </div>
    </div>
</div>