.container{
    margin-top:30px;
    padding: 30px;
  }
  .card{
  border-radius: 10px;
  padding: 5%;
  }
  .p1 {

      font-size: 18px;
      width:100%;
      height: 70px;
  }
.p2 .mat-button{
  //margin-left: 5px;
    color: #1a73e8;
    width:40%;
    height: 40px;
}
.padding{
  padding: 100px;
}
.card-text{
  line-height: 1.6;
}