<!-- 
  Execution       :   1. default node         cmd> dialog.component.html
 
   Purpose         : To edit the note data
  
   @file           : dialog.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div fxLayoutAlign="center center" class="cardMain">
  <div class="card" fxLayoutGap='30px' fxFlex.xl='500px' fxFlex.lg='500px' fxFlex.md='500px' fxFlex.sm='400px'
      fxFlex.xs='150px'>
      <div fxLayoutGap='20px'>
          <input class="title" placeholder="Title" [formControl]="title">
          <input class="description" placeholder="Take a note..." [formControl]="description">
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5">
              <app-icon></app-icon>
               <button  mat-button (click)="updateNote(data)"
                  (click)="onNoClick()">Close</button>
          </div>
      </div>
  </div>
</div>