@import '../../core/scss/colors';
@import '../../core/scss/mixin';
.title{
    width: 100%;
    border-style: hidden;
    font-size: 20px; 
    outline: none;  
    word-break: break-all;
    font-weight: bold;
}
.description{
    border-style: hidden; 
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    word-break: break-all;
}
button{
    outline: none;
    border-radius: 200px;
}
.card{
    // outline: none;
    border-style: hidden; 
    border-radius: 5;
}
.cardMain{
    border-radius: 5;
}
.textarea{
    width:100%;
    outline: none;
    margin:2%;
    font-size: 20px;
    word-break: break-all;
}
.textarea:empty:before{
    content: attr(data-text);
    opacity: 0.5;
    // font-size: 20px;
    width:60%;
    height:10%;
    font-size: 20px; 
    word-break: break-all;
    @include margin-top(2px);
}
