.title{
    border-style: hidden; 
    outline: none;  
    word-break: break-all;
    font-weight: bold;
}

.description{
    border-style: hidden; 
    outline: none;
    margin-bottom: 20px;
    word-break: break-all;
}

button{
    outline: none;
    border-radius: 200px;
}

.card{
    outline: none;
    border-style: hidden; 
}