.title{
    width: 100%;
    border-style: hidden;
    font-size: 20px; 
    outline: none;  
    word-break: break-all;
    font-weight: bold;
}

.description{
    border-style: hidden; 
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    word-break: break-all;
}

button{
    outline: none;
    border-radius: 200px;
}

.card{
    // outline: none;
    border-style: hidden; 
    border-radius: 5;
}
.cardMain{
    border-radius: 5;
}