<div fxLayout="column" fxLayoutGap="8%">
    <div fxFlex.lg="40%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
    <div fxLayout="row" fxFlex.lg="70%" fxLayoutAlign="center" fxFlex="35">
      <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
      <div fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
        <mat-card>
          <mat-card-title fxLayoutAlign="center">
            <h4>
            <span class="lightblue">F</span>
            <span class="red">u</span>
            <span class="yellow">n</span>
            <span class="lightblue">d</span>
            <span class="green">o</span>
            <span class="blue">o</span>
            <span class="yellow">N</span>
            <span class="red">o</span>
            <span class="lightblue">t</span>
            <span class="green">e</span>
            <span class="red">s</span>
          </h4>
          </mat-card-title><br>
          <mat-card-title fxLayoutAlign="center my-3"><h3>Find your email</h3></mat-card-title>
          <mat-card-title fxLayoutAlign="center my-3">
            <h5>Enter your phone number or recovery email</h5></mat-card-title>
          <br>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Phone number or Email</mat-label>
              <input matInput placeholder="Phone number or Email">
            </mat-form-field>
          </div>
          <br><br><br><br><br>
          <div fxLayoutAlign="end" class="p2"><button mat-button routerLink="/password">Next</button></div>
          <br><br><br><br><br>
        </mat-card>
      </div>
      <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  </div>