<!-- 
  Execution       :   1. default node         cmd> registration.component.html
 
   Purpose         : To register for Fundoo Account   

   @file           :registration.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div fxLayout="column" fxLayoutGap="3%">
  <div fxFlex.lg="30%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  <div fxLayout="row" fxFlex.lg="100%" fxLayoutAlign="center" fxFlex="35">
    <div fxFlex="100%" fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    <div fxFlex.lg="100%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%">
      <mat-card ngStyle.lg="width: 996px;">
        <!--         
         @Description  : Fundoo Notes Title
        -->
        <mat-card-title fxLayoutAlign="start">
          <span class="lightblue">F</span>
          <span class="red">u</span>
          <span class="yellow">n</span>
          <span class="lightblue">d</span>
          <span class="green">o</span>
          <span class="blue">o</span>
          <span class="yellow">N</span>
          <span class="red">o</span>
          <span class="lightblue">t</span>
          <span class="green">e</span>
          <span class="red">s</span>
        </mat-card-title>
        <div style="height:1vh"></div>
        <mat-card-title fxLayoutAlign="start">
          <h3>Create your Google Account</h3>
        </mat-card-title>
        <div style="height:1vh"></div>
        <mat-card-title fxLayoutAlign="start">
          <h6>to continue to FundooNotes Account</h6>
        </mat-card-title>
        <div style="height:1vh"></div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5%">
          <!--         
         @Description  : Validating First Name and displaying the error message
        -->
          <div fxFlex="25">
            <mat-form-field appearance="outline">
              <mat-label>Firstname</mat-label>
              <mat-error *ngIf="firstName.invalid">{{firstValidation()}}</mat-error>
              <input matInput placeholder="FirstName" [(ngModel)]="register.firstName" [formControl]="firstName">
            </mat-form-field>
          </div>
          <!-- 
            @Description  : Validating Last Name and displaying the error message 
          -->
          <div fxFlex="25">
            <mat-form-field appearance="outline">
              <mat-label>Lastname</mat-label>
              <mat-error *ngIf="lastName.invalid">{{lastValidation()}}</mat-error>
              <input matInput placeholder="LastName" [(ngModel)]="register.lastName" [formControl]="lastName">
            </mat-form-field>
          </div>
        </div>
        <div style="height:1vh"></div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column">
          <!-- 
            @Description  : Validating User Name and displaying the error message 
          -->
          <div fxFlex="55">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <mat-error *ngIf="email.invalid">{{emailValidation()}}</mat-error>
              <input matInput placeholder="Username" [(ngModel)]="register.email" [formControl]="email">
            </mat-form-field>
          </div>
        </div>
        <div style="height:1vh"></div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="4%">
          <!-- 
            @Description  : Validating Password and displaying the error message 
          -->
          <div fxFlex="20">
            <mat-form-field appearance="outline" hintLabel="Minimum 8 Characters">
              <mat-label>Password</mat-label>
              <mat-error *ngIf="password.invalid">{{passValidation()}}</mat-error>
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="register.password"
                [formControl]="password" maxlength="16">
            </mat-form-field>
          </div>
          <!-- 
            @Description  : Validating Confirm Password and displaying the error message 
          -->
          <div fxFlex="18">
            <mat-form-field appearance="outline" hintLabel="Minimum 8 Characters">
              <mat-label>Confirm</mat-label>
              <mat-error *ngIf="cpassword.invalid">{{cpassValidation()}}</mat-error>
              <input matInput placeholder="Confirm" [type]="hide ? 'password' : 'text'" [(ngModel)]="register.cpassword"
                maxlength="16" [formControl]="cpassword">
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end" fxFlex="2" class="p2">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
        </div>
        <div style="height:5vh"></div>
        <!-- 
            @Description  : Validating advance and basic button and displaying the error message 
        -->
       <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px" fxHide fxShow.gt-sm>
          <div class="main1" *ngFor="let data of serviceData">
            <div class="card">
              <mat-card class="card4" *ngIf="productData.id == data.id">
                <h5>SELECTED</h5>
              </mat-card>
              <mat-card class="card3" *ngIf="productData.id != data.id">
                <h5>ADD TO CART</h5>
              </mat-card>
            </div>
            <div class="card1">
              <mat-card>
              <h4>${{data.price}} Per Month</h4>
                <div fxLayoutAlign="start" class="openDialog">
                  <button mat-button (click)="openDialogAdvance(data)">{{data.name}}</button>
                </div>
                <li>Unlimited Wall Space</li>
                <li>Nice Interface</li>
                <li>${{data.price}}/Month</li>
                <li>{{data.description}}</li>
              </mat-card>
            </div>
          </div>
        </div>
       <div style="height:10vh"></div>
        <div fxLayout="row" fxLayoutGap="25" fxLayoutAlign.md="start end">
          <div class="size"><button mat-button routerLink="/login">Sign in instead</button>
          </div>
          <div><button mat-button 
            (click)="submit(cardId)">Sign Up</button></div>
        </div>
        <div fxLayoutAlign="end" fxHide fxShow.gt-sm>
          <div class="img">
            <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt width="244" height="244">
            <h6>One account of Google working for you.</h6>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex.lg="27%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="2%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
</div>


<!-- [disabled]="firstName.invalid || lastName.invalid || email.invalid || password.invalid || cpassword.invalid" -->