.img{
    vertical-align: middle;
    border-style: none;
    margin-top: -471px;
  }
.visibility .mat-icon{ 
margin-top: 60%;
margin-left: 25%;
width: 60%;
height: 60%;
font-size: 36px;
}
.p2 .mat-icon{
margin-top: 24px;
margin-left: 20px;
width: 50px;
height: 50px;
}
.mat-card{
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 36px;
  padding-left: 40px;
}
.mat-button{
  color: #4285f4;
}
.mat-card-title .red{
color: red;
}
.mat-card-title .blue{
  color: blue;
}
.mat-card-title .lightblue{
    color: #4285f4;
}
.mat-card-title .yellow{
  color: #fbbc05;
}
.mat-card-title .green{
  color: #34a853;
}
.mat-form-field{
  width: 100%; 
}
.size .mat-button{
font-size: 16px;
}
.main1:hover >.card mat-card {
  background-color: orange;
}
.main1 .card1:hover{
  opacity: 1;
  transform: 'scale(1.5)' 
}
.card mat-card{
  width: 198px;
  height: 290px;
  border: solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: 14px;
  margin-left: 22px;
  background-color: #a9a9a9;
 // border: 1px solid;
  // margin-top: 50px;
}
.card {
border: solid white;  
}
.card h5{
  // margin-top: -20px;
  // margin-left: 40px;
  color: white;
  font-size: 21px;
}
.card3 h5{
  margin-left: -3px;
  color: white;
  font-size: 15px;
  margin-top: 207px;
}
.card1 mat-card{
  width: 198px;
  height: 284px;
  border: solid rgba(0,0,0,.125);
  margin-top: -330px;
  margin-left: -3px;
}
.card1 h4 {
  font-size: -0.5rem;
}
.mat-card{
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 14px;
}