<div fxLayoutAlign="center center">
  <div class="cardMain" fxLayout="{{direction}} wrap" fxLayoutAlign="center center">
      <!-- 
       @Description    :   ngClass for grid and list view
      -->
      <div class="cardSub" fxFlex="27" fxLayout="row wrap" *ngFor="let data of labelNotesList | pipe " fxLayoutAlign="center center"
          [ngClass]=" direction =='row' ? 'cardSub':'cardSub2'">
          <mat-card [ngStyle]="{'background-image':'url(' +data.image+ ')','background-color':data.color}">
              <!--
               @Description    :    openDialog for dialog 
               -->
              <div (click)="openDialog(data)">
                  <div>
                      {{data.title}}
                  </div>
                  <div class="description"> {{data.description }}</div>
                  <mat-chip-list>
                      <div *ngFor="let cardData of data.reminder" class="reminder">
                          <mat-chip class="datetime">
                              <mat-icon>access_time</mat-icon>
                              {{cardData | date : 'MMM d, y h:mm a'}}
                              <mat-icon (click)=removeReminder(data,$event)> cancel</mat-icon>
                          </mat-chip>
                      </div>
                  </mat-chip-list>
                  <mat-chip-list>
                    <span *ngFor="let cardData of data.noteLabels">
                        <mat-chip class="label" *ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
                            <span class="chip">{{cardData.label}}</span>
                            <mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id)
                                class="cancelIcon">cancel</mat-icon>
                        </mat-chip>
                    </span>
                </mat-chip-list>
              </div>
              <div class="icon">
                  <div fxLayout="row" class="iconButton" fxLayoutAlign="space-evenly center" fxLayoutGap="3%">
                      <app-icon [card]='data' (setColor)=entry($event) (reminder)=entry($event)
                          (onArchiveEntry)="archiveNote(data,$event)" (onChangeDate)=addReminder(data,$event)
                          (onChangeColor)=changeColor(data,$event) (onChangeDelete)=deleteNote(data,$event)>
                      </app-icon>
                  </div>
              </div>
          </mat-card>
          <div style="height:5vh;"></div>
      </div>
  </div>
</div>